body{
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.bt{
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 4px 4px 0px 0px rgb(255, 255, 255);
    -moz-box-shadow: 4px 4px 0px 0px rgba(255, 255, 255);
    box-shadow: 4px 4px 0px 0px rgba(255, 255, 255);
}
.main_content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.test{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.test2{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.item{
    border: 1px solid #fff;
    padding: 30px;
    -webkit-box-shadow: 4px 4px 0px 0px rgb(255, 255, 255);
    -moz-box-shadow: 4px 4px 0px 0px rgba(255, 255, 255);
    box-shadow: 4px 4px 0px 0px rgba(255, 255, 255);
}
.hh{

}
.mm{

}
.ss{

}
.aa{

}
.overlay_modal {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
}
.modal_window {
    color: #000;
    background: rgb(0, 0, 0);
    border: 1px solid #fff;
    width: 90%;
    max-width: 400px;
    position: relative;
    animation: modalAppear 0.3s ease-out;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 6px 6px 0px 0px rgb(255, 255, 255, 0.95);
    -moz-box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.95);
    box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.95);
}
.modal_window_box_h2{
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.modal_window_bt_close{
    cursor: pointer; 
    font-size: 24px; 
    font-weight: bold; 
    color: #999;
}
.zxczxc{
    width: 100%;
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    gap: 20px;
}
.modal_window_input{
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #000;
}
.p{
    color: #fff;
}

.none{
    display: none;
}